# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Virtualenv
venv/
.venv/
env/
ENV/
pip-selfcheck.json

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db